notebooks/data
notebooks/cifar_net.pth
.ipynb_checkpoints/
notebooks/worksheet*.ipynb
notebooks/solutions.ipynb
notebooks/git-intro.ipynb
notebooks/currency.ipynb
notebooks/instructions.txt

# Notebook-generated artefacts.
notebooks/.ipynb_checkpoints/
